body {
  background: #111;
  color: #fff;
  font-family: 'Segoe UI', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #181818;
  padding: 10px 30px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.3em;
  font-weight: bold;
}

.logo i {
  color: #1976d2;
  margin-right: 8px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 18px;
  font-size: 1em;
  font-weight: 500;
}

nav a:hover {
  color: #1976d2;
}

.profile-cart {
  font-size: 1.5em;
}

.search-bar {
  display: flex;
  align-items: center;
  background: #181818;
  padding: 20px 30px;
  gap: 15px;
}

.search-bar input {
  flex: 1;
  padding: 10px 15px;
  border-radius: 6px;
  border: none;
  font-size: 1em;
  background: #222;
  color: #fff;
}

.search-bar i {
  font-size: 1.5em;
}

main {
  display: flex;
  padding: 30px;
}

aside {
  width: 220px;
  margin-right: 40px;
}

.filter-section {
  margin-bottom: 30px;
}

.stars {
  color: gold;
  font-size: 1.1em;
}

.filter-section label {
  display: block;
  margin-bottom: 6px;
}

.products-section {
  flex: 1;
}

.sort-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.sort-bar button {
  background: #6161ee;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 6px 16px;
  margin-right: 5px;
  cursor: pointer;
  font-size: 0.95em;
}

.sort-bar select {
  background: #222;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
}

.pagination button {
  background: #222;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin: 0 2px;
  padding: 4px 10px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:30px;
  justify-content: center;
}

.product-card {
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.267);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin: auto;
  padding: 0 0 12px 0;
  
}

.product-img {
  width: 100%;
  height: 120px;
  background: #b3adad;
}

.product-info {
  padding: 10px 12px 0 40px;
  text-align: left;
padding-left: 40px; 

  width: 100%;
  color: #000;
}


.product-info h5 {
  margin: 0 0 4px 0;
  font-size: 1.05em;
}

.product-info p {
  margin: 0 0 4px 0;
  font-size: 0.95em;
}
